@use "@react-md/theme/dist/color-palette" as *;
// Note: Outside of codesandbox, this can be `@forward "react-md" with (`
@forward "react-md/dist/everything" with (
  $rmd-theme-light: true,
  $rmd-theme-primary: $rmd-teal-500,
  $rmd-theme-secondary: $rmd-pink-a-200,
);

.module {
  width: 90%;
  padding-top: 40px;
  margin: auto;

  &__view-module-grid {
    display: flex;
    flex-direction: column;
  }

  &__grid {
    background-color: white;
  }

  &__name {
    height: 50px;
    border-bottom: 1px solid silver;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rmd-expansion-panel__header {
    background-color: cadetblue;
    width: 100%;
  }

  .rmd-expansion-panel {
    padding: 5px;
  }
}



